{% extends 'base.html' %}
{% from 'macros.html' import render_field %}

{% block content %}
<h1>Daily Log</h1>
<div class="container">
    <div class="add-form">
        <form action="" method=post enctype=multipart/form-data>
            {{ render_field(form.post) }}
            {{ form.csrf_token }}
    		<input type=submit value=Submit />
        </form>
    </div>
    <div>
        <form action="" method=post enctype="multipart/form-data">
            {{ render_field(search_form.word) }}
            {{ form.csrf_token }}
            <input type=submit value="Search" />
        </form>
    </div>
    <div class="all-posts">
        {% if searched %}
        <div class="one-post">
            {% for p in searched_posts %}
                <p>{{ p[2] }}</p>
                <p>{{ p[1] }}</p>
            {% endfor %}
        </div>
        {% else %}
        <div class="one-post">
            {% for p in all_posts %}
            <p>{{ p[2] }}</p>
            <p>{{ p[1] }}</p>
            {% endfor %}
        </div>
        {% endif %}
    </div>
</div>
{% endblock %}
